*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/captures
.externalNativeBuildIso
.cxx
local.properties
*.apk
*.aab
/app/build
/app/release
keystore.properties
*.jks
*.keystore
!app/keystore/train-companion.keystore
